#intro{
  background-image: url(../Assets/images/Background_Intro.png);
  background-size: cover;
  padding: 120px 163px 57px 163px;
 

  .info{
     width: 1040px ;
     
     ul{
      display: flex;
      color: white;
      justify-content: center;
      gap: 16px;
      list-style: none;

      
      li{
        display: flex;
        border-radius: 999px;
        padding: 8px 16px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: var(--gray-300); 
      }

      li:nth-child(1) svg{color: var(--gray-500);}
      li:nth-child(2) svg{color: var(--red);}
      li:nth-child(3) svg{color: var(--blue);}
      li:nth-child(4) svg{ color: var(--yellow);}
      li:nth-child(5) svg{color: var(--blue);}
      li:nth-child(6) svg{color: var(--green);}

      }

    }



     .header{
      display: flex;
      flex-direction: column;
      align-items: center;

      p:nth-child(2){
        font: var(--text-in);
        color: var(--gray-500);
      }

      h1{
        font: var(--text-lg);
        color: var(--gray-600);
      }

      p:nth-child(4){
        font: var(--text-ma-sm);
        color: var(--gray-400);
      }


      p{
        max-width: 680px;
      }
     }
  }

  span{
    color: var(--red);
  }

